<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card>
  <mat-card-header>
    <mat-card-title>Dodaj użytkownika</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="registeredUserData" class="form-horizontal" role="form">
      <div class="row">
        <div class="col" >
          <mat-form-field class="full-width">
            <mat-label>Imię</mat-label>
            <input  matInput  placeholder="Imię" formControlName="name"  required>
            <mat-error *ngIf="registeredUserData.controls['name'].hasError('required')">
              Podanie imienia jest <strong>wymagane</strong>!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Contact Name</mat-label>
            <input  matInput  placeholder="Nazwisko" formControlName="surname"  required>
            <mat-error *ngIf="registeredUserData.controls['surname'].hasError('required')">
              Podanie nazwiska jest <strong>wymagane</strong>!
            </mat-error>
          </mat-form-field>
        </div>

      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <!-- put buttons here -->
  </mat-card-actions>
</mat-card>
