<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card>
  <mat-card-header>
    <mat-card-title>Rejestracja nowego użytkownika</mat-card-title>
  </mat-card-header>

  <form [formGroup]="userData" class="user-form">
    <div class="row">
      <mat-form-field style="width: 48%">
        <input matInput [formControl]="userData.get('name')" type="text" placeholder="Imię">
        <mat-error *ngIf="userData.get('name').errors && userData.get('name').touched">
          Podanie imienia jest <strong>wymagane</strong>!
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 48%">
        <input matInput [formControl]="userData.get('surname')" type="text" placeholder="Nazwisko">
        <mat-error *ngIf="userData.get('surname').errors && userData.get('surname').touched">
          Podanie nazwiska jest <strong>wymagane</strong>!
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput [formControl]="userData.get('email')" type="text" placeholder="e-mail">
      <mat-error *ngIf="userData.get('email').errors && userData.get('email').touched">
        Podanie adresu e-mail jest <strong>wymagane</strong>!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControl]="userData.get('phone')" type="text" placeholder="Telefon">
      <mat-error *ngIf="userData.get('phone').errors && userData.get('phone').touched">
        Numer telefonu może zawierać wyłącznie cyfry i znaki "+", "-", "(", ")" oraz spację. Nie może być krótszy niż 9 znaków.
      </mat-error>
    </mat-form-field>
<div class="row">
  <mat-form-field style="width: 48%">
    <input matInput [formControl]="userData.get('password')" type="text" placeholder="Hasło">
    <mat-error *ngIf="userData.get('password').errors && userData.get('password').touched">
      Musisz podać <strong>hasło</strong> składające się z co najmniej 8 znaków, zawierające przynajmniej
      jedną wielką literę oraz jeden ze znaków: "@", "#", "$", "%", "^", "&"!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 48%" *ngIf="!userData.get('password').errors && userData.get('password').dirty">
    <input  matInput
           [formControl]="userData.get('confirmPassword')" type="text" placeholder="Potwierdź hasło">
    <mat-error *ngIf="userData.get('confirmPassword').errors && userData.get('confirmPassword').touched">
      Hasła nie są <strong>zgodne</strong>!
    </mat-error>
  </mat-form-field>

</div>
    <mat-card style="margin-top: 0.5em">
      <mat-card-subtitle>Zwierze domowe</mat-card-subtitle>
      <mat-radio-group [formControl]="userData.get('pet')">
        <mat-radio-button value="dog">Pies</mat-radio-button>
        <mat-radio-button value="cat">Kot</mat-radio-button>
        <mat-radio-button value="other">Inne</mat-radio-button>
      </mat-radio-group>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Adres</mat-card-subtitle>
      <mat-form-field class="row">
        <input matInput [formControl]="userData.get('address.city')" type="text" placeholder="Miasto">
        <mat-error *ngIf="userData.get('address.city').errors && userData.get('address.city').touched">
          Musisz podać <strong>miasto</strong> w którym mieszkasz!
        </mat-error>
      </mat-form-field>
      <mat-action-row class="row">
        <mat-form-field style="width: 49%;">
          <input matInput [formControl]="userData.get('address.street')" type="text" placeholder="Ulica">
          <mat-error *ngIf="userData.get('address.street').errors && userData.get('address.street').touched">
            Musisz podać nazwę <strong>ulicy</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 23%">
          <input matInput [formControl]="userData.get('address.building')" type="text" placeholder="Nr domu">
          <mat-error *ngIf="userData.get('address.building').errors && userData.get('address.building').touched">
            Musisz podać numer <strong>budynku</strong>, w którym mieszkasz!
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 23%; padding-right: 0">
          <input matInput [formControl]="userData.get('address.flatNo')" type="text" placeholder="Piętro">
          <mat-error *ngIf="userData.get('address.flatNo').errors && userData.get('address.flatNo').touched">
            Musisz podać na którym <strong>piętrze</strong> mieszkasz!
          </mat-error>
        </mat-form-field>

      </mat-action-row>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Zgody</mat-card-subtitle>
      <mat-checkbox [formControl]="userData.get('consents.newsletter')">Chcę dostawać powiadomienia</mat-checkbox>
      <mat-checkbox *ngIf="!userData.get('phone').errors && userData.get('phone').dirty" [formControl]="userData.get('consents.sms')">Chcę dostawać SMSy</mat-checkbox>
    </mat-card>
    <div class="row" style="margin-top: 1em">
      <button mat-raised-button color="warn"  (click)="submitForm()" [disabled]="!userData.valid" >Zarejestruj</button>
    </div>



  </form>
</mat-card>
